<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>IGSM VLC City Rally</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="ol-map">

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button id="open-info-modal" color="light" class="square">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab (click)="centerView()" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
  </ion-toolbar>
</ion-footer>

<ion-modal trigger="open-info-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Information</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-text>
        <h3>Welcome to Valencia!</h3>
        With this application, you will visit the main places of the city.
        Walk to the point on the map, there is no path so just go wherever you want.
        Once you arrive at the point, a message will be shown with an image of the place and
        audio explaining what you are looking at.
        After that, we will check if you have been paying attention to it with a question about that place.
        At the end of the IGSM event, <ion-text color="secondary">team with more correct answers will be priced</ion-text> at the gala dinner.
      </ion-text>
    </ion-content>
  </ng-template>
</ion-modal>
