<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-img style="height: 80%; padding-bottom: 1%;" src="./assets/imgs/{{this.image}}"></ion-img>

  <ion-row>

    <ion-range #range [(ngModel)]="progress" (touchend)="seek()" max="100" color="secondary"></ion-range>

    <ion-button (click)="togglePlayer(false)" *ngIf="!isPlaying" color="primary" shape="round">
      <ion-icon name="play-outline" slot="icon-only" size="large"></ion-icon>
    </ion-button>
  
    <ion-button (click)="togglePlayer(true)" *ngIf="isPlaying" color="primary" shape="round">
      <ion-icon name="pause-outline" slot="icon-only" size="large"></ion-icon>
    </ion-button>

  </ion-row>


    <ion-list *ngIf="audioEnd">

      <ion-list-header>
        <ion-label> <h2><strong>{{question}}</strong></h2> </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let option of answers" button color="light" (click)="checkAnswer(getValue(option))">
        <ion-label>{{getKey(option)}}</ion-label>
      </ion-item>
      
    </ion-list>


</ion-content>
